{
  "singleQuote": true,
  "semi": true,
  "arrowParens": "avoid",
  "printWidth": 100,
  "trailingComma": "all",
  "htmlWhitespaceSensitivity": "ignore",
  "plugins": ["prettier-plugin-organize-imports", "prettier-plugin-tailwindcss"]
}
